{{- if .Site.Data.homepage.banner.enable }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<div class="row">
			{{- with .Site.Data.homepage.banner }}
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{- end }}
					<button class="snipcart-add-item btn btn-main" 
					  {{with .Site.Data.homepage.product }} data-item-id="{{ .name | urlize }}__{{ .price }}"
						data-item-name="{{ .name }}"
						data-item-image="{{ .image | absURL }}"
						data-item-price="{{ .price }}" data-item-url="{{ .Permalink }}" 
						{{ if .colors }}
						data-item-custom1-name="Choose Color"
						data-item-custom1-options="{{ range $index, $element:= .colors }}{{ if eq $index 0 }}{{ . | title }}{{ else }}|{{ . | title }}{{ end }}{{ end }}"
						{{ end }}
						{{ if .sizes }} 
						data-item-custom2-name="Choose Size"
						data-item-custom2-options="{{ range $index, $element:= .sizes }}{{ if eq $index 0 }}{{ . | title }}{{ else }}|{{ . | title }}{{ end }}{{ end }}"
						{{ end }}{{ end }}>{{ .Site.Data.homepage.banner.button }}</button>
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}