<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a href="{{ site.BaseURL | relLangURL }}" class="mb-4 d-inline-block" style="width: {{ .Site.Params.logo_width }};">
            {{ if site.Params.logo }} 
            {{ partial "image.html" (dict "Src" .Site.Params.logo "Alt" .Site.Title "Class" "img-fluid" "Width" .Site.Params.logo_width) }}
             {{ else }} {{ .Title }} {{ end }}
          </a>
          <ul class="list-inline footer-menu">
            {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          <p class="copyright-text">{{ site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{ with site.Params.snipcart }}
{{ if .enable }}
{{ with .snipcart_api }}
<div hidden id="snipcart" data-api-key="{{.}}"></div>
{{ end }}
{{ end }}
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>