<!-- navigation -->
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ if .Site.Params.logo }} <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"> {{ else }} {{ .Site.Title }} {{ end }}</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center text-lg-left">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a>
          </li>
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->