{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.promo.enable }}
{{ with $data.homepage.promo }}
<section class="bg-orange section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        {{ partial "image.html" (dict "Src" .image "Alt" "image" "Class" "img-fluid" ) }}
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h2 class="subheading text-white font-weight-bold mb-10">{{ .title | markdownify }}</h2>
          <p class="text-white">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}